onsset/onsset_replication/zambia_el_acc_baseline_trend_targets.xlsm
onsset/onsset_replication/mled_processed_input_files_reference/.gitkeep
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/.gitkeep
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/ReadMe.md
mled/gadm36_ZMB_0_sp.rds
mled/gadm36_ZMB_1_sp.rds
mled/gadm36_ZMB_2_sp.rds
mled/log.txt
mled/log.txt
mled/.Rhistory
mled/gadm36_KEN_0_sp.rds
mled/gadm36_KEN_1_sp.rds
mled/gadm36_KEN_2_sp.rds
mled/gadm41_KEN_0_pk.rds
mled/gadm41_KEN_1_pk.rds
mled/gadm41_KEN_2_pk.rds
mled/gadm41_RWA_0_pk.rds
mled/gadm41_RWA_1_pk.rds
mled/gadm41_RWA_2_pk.rds
mled/gadm41_ZMB_0_pk.rds
mled/gadm41_ZMB_1_pk.rds
mled/gadm41_ZMB_2_pk.rds
mled/log.txt
cap_building/RE4AGRI - WRI joint workshops application(1-70).xlsx
*.rds
*.geojson
*.png
*.gpkg
mled/results/kenya/kenya_el_acc_baseline_trend.csv
mled/results/kenya/kenya_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/kenya/kenya_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/kenya/kenya_summary_national_ssp2_rcp60_1_1_0.1.csv
mled/results/kenya_el_acc_baseline_trend.csv
mled/results/kenya_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/kenya_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/kenya_summary_national_ssp2_rcp60_1_1_0.1.csv
mled/results/nigeria/nigeria_el_acc_baseline_trend.csv
mled/results/nigeria_el_acc_baseline_trend.csv
mled/results/nigeria_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/nigeria_summary_national_ssp2_rcp60_0_0.812_0.1.csv
mled/results/nigeria_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/rwanda/rwanda_el_acc_baseline_trend.csv
mled/results/rwanda/rwanda_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/rwanda/rwanda_summary_national_ssp2_rcp60_0.986_0_0.1.csv
mled/results/rwanda/rwanda_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/rwanda_el_acc_baseline_trend.csv
mled/results/rwanda_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/rwanda_summary_national_ssp2_rcp60_0.986_0_0.1.csv
mled/results/rwanda_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/zambia/zambia_el_acc_baseline_trend.csv
mled/results/zambia_el_acc_baseline_trend.csv
mled/results/zambia_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/zambia_summary_national_ssp2_rcp60_0.998_0.248_0.1.csv
mled/results/zambia_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/zimbabwe/zimbabwe_el_acc_baseline_trend.csv
mled/results/zimbabwe/zimbabwe_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/zimbabwe/zimbabwe_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/zimbabwe/zimbabwe_summary_national_ssp2_rcp60_1_0_0.1.csv
mled/results/zimbabwe_el_acc_baseline_trend.csv
mled/results/zimbabwe_summary_national_ssp2_rcp26_1_0.75_0.75.csv
mled/results/zimbabwe_summary_national_ssp2_rcp60_1_0.5_0.5.csv
mled/results/zimbabwe_summary_national_ssp2_rcp60_1_0_0.1.csv
mled/todo.R
mled/country_scenarios/.Rhistory
.Rhistory
nest/message_ix_models/data/water/demands/harmonized/Thumbs.db
nest/message_ix_models/data/water/demands/harmonized/Thumbs.db
online_dashboards/-041-PCVE.Rhistory
online_dashboards/supporting_files/Domain info.docx
requirements_todos.docx
wiki/Wiki RE4AFAGRI_ideas.docx
wiki/wiki_logo.drawio
nest/message_ix_models/data/water/demands/harmonized/Thumbs.db
mled/desktop.ini
onsset/mled_processed_input_files/1_zambia_onsset_input_mled_demands_baseline.csv
onsset/mled_processed_input_files/2_zambia_onsset_input_mled_demands_improved_access.csv
onsset/mled_processed_input_files/3_zambia_onsset_input_mled_demands_ambitious_development.csv
onsset/onsset_replication/clusters/clusters_zambia_220k_geo_input.csv
onsset/onsset_replication/clusters/zambia_onsset_input_calibrated.csv
onsset/onsset_replication/mled_processed_input_files_reference/1_zambia_onsset_input_mled_demands_baseline.csv
onsset/onsset_replication/mled_processed_input_files_reference/2_zambia_onsset_input_mled_demands_improved_access.csv
onsset/onsset_replication/mled_processed_input_files_reference/3_zambia_onsset_input_mled_demands_ambitious_development.csv
onsset/onsset_replication/nest_summaries/energy_allocation_results_for_nest.csv
onsset/onsset_replication/onsset_input_files/1_zambia_onsset_specifications_calibrated_baseline.xlsx
onsset/onsset_replication/onsset_input_files/2_zambia_onsset_specifications_calibrated_improved_access.xlsx
onsset/onsset_replication/onsset_input_files/3_zambia_onsset_specifications_calibrated_ambitious_development.xlsx
onsset/results/onsset_full_results/1_baseline_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_full_results/2_improved_access_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_full_results/3_ambitious_development_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_summary_results/1_baseline_zm-2-0_0_0_0_0_0_summary.csv
onsset/results/onsset_summary_results/2_improved_access_zm-2-0_0_0_0_0_0_summary.csv
onsset/results/onsset_summary_results/3_ambitious_development_zm-2-0_0_0_0_0_0_summary.csv
