
onsset/onsset_replication/clusters/clusters_zambia_220k_geo_input.csv
onsset/onsset_replication/clusters/zambia_onsset_input_calibrated.csv
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_ssp2_rcp60_0.998_0.248_0.1_tot_lat_d.gpkg
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_ssp2_rcp60_1_0.5_0.5_tot_lat_d.gpkg
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_UR_ssp2_rcp60_0.998_0.248_0.1_tot_lat_d.gpkg
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_UR_ssp2_rcp60_1_0.5_0.5_tot_lat_d.gpkg
onsset/onsset_replication/mled/onsset_clusters/zambia_onsset_clusters_with_mled_loads_ssp2_rcp60_0.998_0.248_0.1_tot_lat_d.gpkg
onsset/onsset_replication/mled/onsset_clusters/zambia_onsset_clusters_with_mled_loads_ssp2_rcp60_1_0.5_0.5_tot_lat_d.gpkg
onsset/onsset_replication/mled/zambia_el_acc_baseline_trend_targets.xlsm
onsset/onsset_replication/mled/~$zambia_el_acc_baseline_trend_targets.xlsm
onsset/onsset_replication/onsset_input_files/zambia_onsset_specifications_calibrated_baseline.xlsx
onsset/onsset_replication/onsset_input_files/zambia_onsset_specifications_calibrated_moderate_development.xlsx
onsset/results/onsset_full_results/baseline_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_full_results/moderate_development_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_summary_results/baseline_zm-2-0_0_0_0_0_0_summary.csv
onsset/results/onsset_summary_results/moderate_development_zm-2-0_0_0_0_0_0_summary.csv
onsset/mled_processed_input_files/zambia_onsset_input_mled_demands_moderate_development.csv
onsset/mled_processed_input_files/zambia_onsset_input_mled_demands_baseline.csv
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_ssp2_rcp26_1_0.75_0.75_tot_lat_d.gpkg
onsset/onsset_replication/mled/nest_clusters/zambia_nest_clusters_with_mled_loads_UR_ssp2_rcp26_1_0.75_0.75_tot_lat_d.gpkg
onsset/onsset_replication/mled/onsset_clusters/1_zambia_onsset_clusters_with_mled_loads_ssp2_rcp60_0.998_0.248_0.1_tot_lat_d.gpkg
onsset/onsset_replication/mled/onsset_clusters/2_zambia_onsset_clusters_with_mled_loads_ssp2_rcp60_1_0.5_0.5_tot_lat_d.gpkg
onsset/onsset_replication/mled/onsset_clusters/3_zambia_onsset_clusters_with_mled_loads_ssp2_rcp26_1_0.75_0.75_tot_lat_d.gpkg
onsset/onsset_replication/onsset_input_files/zambia_onsset_specifications_calibrated_sustainable_development.xlsx
onsset/onsset_replication/zambia_el_acc_baseline_trend_targets.xlsm
onsset/results/onsset_full_results/sustainable_development_zm-2-0_0_0_0_0_0.csv
onsset/results/onsset_summary_results/sustainable_development_zm-2-0_0_0_0_0_0_summary.csv
onsset/mled_processed_input_files/zambia_onsset_input_mled_demands_sustainable_development.csv
onsset/onsset_replication/mled_processed_input_files_reference/.gitkeep
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/.gitkeep
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/ReadMe.md
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/zambia_onsset_input_mled_demands_baseline.csv
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/zambia_onsset_input_mled_demands_moderate_development.csv
onsset/onsset_replication/mled_processed_input_files_reference/mled_processed_input_files/zambia_onsset_input_mled_demands_sustainable_development.csv
onsset/onsset_replication/mled_processed_input_files_reference/zambia_onsset_input_mled_demands_baseline.csv
onsset/onsset_replication/mled_processed_input_files_reference/zambia_onsset_input_mled_demands_moderate_development.csv
onsset/onsset_replication/mled_processed_input_files_reference/zambia_onsset_input_mled_demands_sustainable_development.csv
onsset/onsset_replication/nest_summaries/energy_allocation_results_for_nest.csv
